
@{
    ViewBag.Title = "Bar Codes Sample";
}
<br />
<h2>Bar Code Samples</h2>
<hr />
<div style="border:1px solid black">
    <img src="~/Content/Images/barCodes.png" style="width:100%; height:auto" />
</div>

