@model NorthWestOrderSystem.Models.Customer

@{
    ViewBag.Title = "SignedUp";
}

<h2 class="title is-1">Thank You For Signing Up!</h2>

<p class="content is-medium">
    @Html.ActionLink("Login Here", "Login", "Customers", null, null)
</p>

