
@{
    ViewBag.Title = "ThankYou";
}

<h2 class="title is-1">Thank You!</h2>

<p class="content is-medium">
    We will reach out to you via email in the next 24 hours to give you instructions on delivering your compound. If you have any questions please contact us at support@northwestlabs.com
</p>

