@{
    ViewBag.Title = "Contact";
}
<h2 class="title is-1">Contact Us</h2>
<h3 class="subtitle is-2">We try to respond to all messages within 24 hours!</h3>

<div class="content is-medium">
    <address>
        Walnut Way<br />
        Seattle, WA 98052<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@northwestlabs.com</a><br />
    </address>
</div>

<div class="content is-medium">
    <address>
        10 Sandilands Road<br />
        SINGAPORE 546080<br />
        REPUBLIC OF SINGAPORE<br />
        <abbr title="Phone">P:</abbr>
        65.4564.3245
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@northwestlabs.com</a><br />
    </address>
</div>