@{
    ViewBag.Title = "Northwest Labs";
}

<div class="jumbotron">
    <div class="columns is-variable bd-klmn-columns is-7">
        <div class="column is-two-thirds">
            <div>
                <h1 class="title is-1">Northwest Labs</h1>
                <p class="subtitle is-5">Equipped to analyze any compound you need tested.</p>
                <p><a href="/Home/About" class="button is-info is-large">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="column">
            <figure class="image is-5by3">
                <img src="~/Content/colorlogo.png" />
            </figure>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <h2 class="title is-2">Utilizing the application</h2>
        <p class="content is-medium">
            At Northwest Labs, the customer, the lab, and corporate personnel all
            converge here for ease of communication, collaboration, and personal
            assistance to meet every need of the customer.
        </p>
        <p><a class="button is-info is-medium" href="/Customers/SignUp">Get Started &raquo;</a></p>
    </div>
</section>

