@{
    ViewBag.Title = "Northwest Labs";
}

<div class="jumbotron">
    <div class="columns is-variable bd-klmn-columns is-7">
        <div class="column is-two-thirds">
            <div>
                <h1>Northwest Labs</h1>
                <p class="lead">Equipped to analyze any compound you need tested.</p>
                <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="column">
            <figure class="image is-5by3">
                <img src="~/Content/logo.png"/>
            </figure>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="title is-2">Utilizing the application</h2>
        <p>
            At Northwest Labs, the customer, the lab, and corporate personnel all
            converge here for ease of communication, collaboration, and personal
            assistance to meet every need of the customer.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="title is-2">Sam Added the Models!</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="title is-2">Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

