
@{
    ViewBag.Title = "Invoice";
}


<div class="table">
    <div class="row">
        <div class="col-md-6">
            <h2>Invoice for Order #13839</h2>
        </div>
        <div class="col-md-6">
            <a>Send Invoice to Billing</a>
        </div>
    </div>
</div>
<hr />
<br />
<img src="~/Content/Images/InvoiceExample.png" style="width:70%; height:auto;" />


