@{
    ViewBag.Title = "Select Assay Type";
}

<h2>Please Select an Assay Type</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="table">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control">
                            <option disabled selected>Search Assay Types</option>
                            <option>Biochemical Pharmacology (BP)</option>
                            <option>DiscoveryScreen® (DS)</option>
                            <option>ImmunoScreen® (IS)</option>
                            <option>ProfilingScreen® (PF)</option>
                            <option>PharmaScreen® (PS)</option>
                            <option>CustomScreen™ (CS)</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control">
                            <option disabled selected>Search Active Orders</option>
                            <option>#1345334</option>
                            <option>#1423423</option>
                            <option>#1433884</option>
                            <option>#1419488</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a>@Html.ActionLink("Continue", "NewTest", "Employees", null, null)</a>
            </div>
        </div>
    </div>
}
<br />
<br />
<br />

